<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>GH Archive Keyword</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Topbar Search -->
          <form class="form-inline navbar-search w-100">
            <input class="form-control mr-2" type="date" value="2019-01-14" name="searchDate">

            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Mot-clé" aria-label="Mot-clé" name="searchTerm">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
        {% if searchTerm is null %}
        <div class="alert alert-info">
        Commencez par saisir une date et un mot-clé ci-dessus. <i class="far fa-hand-point-up"></i>
        </div>
        {% endif %}
          <!--<div class="alert alert-danger">
            Oops ! On dirait qu'il y a eu une erreur !
          </div>-->

        {% if searchTerm is not null %}
            {% include "results_hits" with {
                eventCount: eventCount,
                dateString: dateString,
                searchTerm: searchTerm
            } %}
        {% endif %}

        {% include "results_counters" with {
            commitCount: commitCount,
            pullsCount: pullsCount,
            commentCount: commentCount
        } %}

        {% if searchTerm is not null %}
            {% include "results_stats" %}
        {% endif %}
        </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/sb-admin-2.min.js"></script>
    <script src="vendor/chart.js/Chart.min.js"></script>
    {% if searchTerm is not null %}
        {% include "result_chart_data" with {
            commitsPoints: commitsPoints,
            pullsPoints: pullsPoints,
            commentsPoints: commentsPoints
        } %}
    {% endif %}
</body>

</html>
