<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
        <b>{{ eventCount }}</b> évènements ont été trouvés pour le <b>{{ dateString }}</b> et le mot-clé <b>"{{ searchTerm }}"</b>.
    </h1>
</div>