<div class="row">
	<div class="col-md-4 mb-4">
		<div class="card border-left-primary shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Nombre de commits</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">{{ commitCount }}</div>
					</div>
					<div class="col-auto">
						<i class="fab fa-github-alt fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-4 mb-4">
		<div class="card border-left-success shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-success text-uppercase mb-1">Nombre de pull-request</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">{{ pullsCount }}</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-code-branch fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-4 mb-4">
		<div class="card border-left-warning shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Nombre de commentaires</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">{{ commentCount }}</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-comments fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
